@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');

*,
*::before,
*::after{
    padding: 0;
    margin : 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    width: 100%;
}

/**nav**/

nav {
    background: #E7D7CA;
    height: 80px;
    width: 100%;
}

label.logo {
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    background-color: #E9CCB4;
    transition: .5s;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}
/**nav**/

/**home**/

.home {
    @include height;
    background: url(../img/homebg.jpg) no-repeat;
    background-position: 0 0;
    background-size: cover;
    height: calc(100vh - 10px);
}

.home-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 4.5em;
    text-shadow: 0 2px 5px rgba(0,0,0,.5);
}

.txt-2{
    color: #E7D7CA;
}

/**home**/

/**day**/

.mday {
    background: #E9CCB4;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #C09C7D;
    padding: 0 1.5rem;
}

.img-box {
    width: 100%;
}

.container {
    display: block;
    margin: 30px;
}

.blog-post {
    width: 100%;
    max-width: 74rem;
    padding: 2rem;
    background: #eee;
    box-shadow: 0 1.4rem 8rem rgb(0,0,0,0.2);
    display: flex;
    align-items: center;
    border-radius: .8rem;
    margin: 20px;
}

.blog-post_img {
    min-width: 35rem;
    max-width: 35rem;
    height: 30rem;
    transform: translateX(-8rem);
    position: relative;
}

.blog-post_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: .8rem;
}

.blog-post_img::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, .05);
    left: 0;
    border-radius: .8rem;
}

.blog-post_date span{
    display: block;
    color: rgba(0,0,0,.5);
    font-size: 1.6rem;
    font-weight: 600;
    margin: .5rem 0;
}

.blog-post_title {
    font-size: 2.5rem;
    margin: 1.5rem 0 2rem;
    text-transform: uppercase;
    color: #C09C7D;
}

.blog-post_text {
    margin-bottom: 3rem;
    font-size: 1.4rem;
    color: rgba(0,0,0,.7);
}

/**day**/

/**footer**/

footer {
    background: #E7D7CA;
    display: flex;
    justify-content: center;
    align-items: center;
}

/**footer**/

@media screen and (max-width: 1068px){
    .blog-post {
        max-width: 80rem;
    }
    .blog-post_img {
        min-width: 30rem;
        max-width: 30rem;
    }
}

@media (max-width: 952px){
    label.logo {
        font-size: 30px;
        padding-left: 50px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media screen and (max-width: 868px){
    .blog-post {
        max-width: 70rem;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #E9CCB4;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
        z-index: 1;
        display: inline-block;
        overflow: hidden;
    }
    nav ul li{
        display: block;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover,a.active{
        background: none;
        color: #C09C7D;
    }
    #check:checked ~ ul {
        left: 0;
    }
}

@media screen and (max-width: 768px){
    .blog-post {
        padding: 2.5rem;
        flex-direction: column;
        margin-top: 110px;
    }
    .blog-post_img {
        max-width: 100%;
        min-width: 100%;
        transform: translate(0, -8rem);
    }
}
@media (max-width: 730px){
    .home {
        background-position: 0px 0;
        
    }
}
